---
import PageLayout from "@/layouts/PageLayout.astro";
import { paragraphs } from "@/content/data/about.json";

---

<PageLayout title="About" header="About">
  <div class="flex flex-col md:flex-row gap-6 items-center">
    <div class="flex flex-col items-center">
      <div class="text-[5rem] font-bold neon-text animate-on-load" transition:name="hero-logo">△_<span class="text-[4.5rem]">△</span></div>
      <br />
    </div>
    <div>
      {
        paragraphs.map((paragraph) => (
          <>
            <p>{paragraph}</p>
            <br />
          </>
        ))
      }
    </div>
  </div>
</PageLayout>
